@import '../../../../variables.scss';

.menu-toggler {
  display: none;
}

.is-mobile {
  .menu-toggler {
    display: inline-block;
  }
}

a {
  color: $primary-text;
  text-decoration: none;
  font-size: 14px;
}
