<ActionBarExtension>
  <ActionItem ios.position="right"
              ios.systemIcon="12"
              android.systemIcon="ic_menu_search"
              (tap)="onSearchButtonTap()">
  </ActionItem>
</ActionBarExtension>
<StackLayout class="sort">
  <SegmentedBar class="segmented-bar"
                [items]="sortItems"
                [selectedIndex]="selectedOption"
                (selectedIndexChange)="onSelectedIndexChange($event)"></SegmentedBar>
</StackLayout>
<GridLayout class="p-5 list">
  <RadListView #listView
               loadOnDemandMode="Auto"
               backgroundColor="transparent"
               [items]="books"
               (itemLoading)="onItemLoading($event)"
               (loadMoreDataRequested)="loadMore($event)">
    <ListViewGridLayout tkListViewLayout
                        scrollDirection="Vertical"
                        spanCount="2"
                        itemHeight="315"></ListViewGridLayout>
    <ng-template tkListItemTemplate
                 let-book="item">
      <StackLayout class="list-item">
        <ba-book-list-item [book]="book"
                           (onRate)="rate($event)"></ba-book-list-item>
      </StackLayout>
    </ng-template>
  </RadListView>
</GridLayout>
