<ActionBarExtension>
  <ActionItem ios.position="right"
              ios.systemIcon="12"
              android.systemIcon="ic_menu_search"
              (tap)="onSearchButtonTap()">
  </ActionItem>
</ActionBarExtension>
<StackLayout class="sort">
  <SegmentedBar class="segmented-bar"
                [items]="sortItems"
                [selectedIndex]="selectedOption"
                (selectedIndexChange)="onSelectedIndexChange($event)"></SegmentedBar>
</StackLayout>
<StackLayout>
  <ba-book-list [books]="books"></ba-book-list>
</StackLayout>
