// SASS theme setup: https://docs.nativescript.org/ui/theme#sass-usage

// customized variables
@import 'variables';
// theme standard rulesets
@import '~nativescript-theme-core/scss/index';
// define our custom styles here...
@import 'buttons';
@import 'forms';

Page {
  /**
    * should be set to your app's common/overall background-color
    * will help prevent white flashes when changing routes
    * sample app uses a white background so just using $white here
    **/
  background-color: $surface-backgroud;
}

/**
  * any font icons you may use, define the global class for the font
  **/
.mdi {
  font-family: 'Material Icons', 'MaterialIcons-Regular';
}

.divider {
  height: 5;
  background: #19202e;
  border-top-width: 1;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-bottom-width: 1;
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
