.home {
  .jumbotron {
    padding: 3rem 2rem;

    h1 {
      font-size: 2.125rem;
      line-height: 1.176471;
      font-weight: 400;
      margin-bottom: 0.8rem;
    }

    .lead {
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: 0.02em;
      line-height: 1.4;
    }
  }
}

.mat-card {
  .mat-divider {
    position: relative;
  }
}
