<ba-loader [visible]="isLoading"></ba-loader>
<div>
  <mat-toolbar>
    Book Details
  </mat-toolbar>
  <div *ngIf="(book$ | async) as book"
       class="view-content">
    <mat-card>
      <ba-book-view [book]="book"
                    [bookmarks]="bookmarks$ | async"
                    [user]="user$ | async"
                    (onAddBookmark)="addToBookmarks($event)"
                    (onRemoveBookmark)="removeFromBookmarks($event)"></ba-book-view>
      <ba-book-comments [comments]="book.comments"
                        [loading]="isLoading"
                        (onCommentAdded)="submitComment(book.id, $event, book.slug)"></ba-book-comments>
    </mat-card>
  </div>
</div>
