<div class="book-view">
  <div class="cover">
    <img [src]="book.coverUrl ? book.coverUrl : '/assets/images/nocover.svg'"
         alt="{{ book.title }}">
    <div *ngIf="book.paid">{{ book.price | currency: 'USD': 'symbol-narrow' }}</div>
    <ba-rating [ngModel]="book.rating"
               (ngModelChange)="rate($event)"></ba-rating>
    <div class="actions">
      <a *ngIf="!book.paid"
         routerLink="/books/reading/{{ book.url }}"
         mat-icon-button
         matTooltip="Read book"
         color="accent">
        <mat-icon>book</mat-icon>
      </a>
      <button *ngIf="book.paid"
              type="button"
              mat-icon-button
              matTooltip="Buy book"
              color="accent">
        <mat-icon>credit_card</mat-icon>
      </button>
      <button type="button"
              mat-icon-button
              [matTooltip]="inFavourites ? 'Remove from Favourites' : 'Add To Favourites'"
              color="accent"
              (click)="(inFavourites ? onRemoveBookmark : onAddBookmark).emit({ type: BOOKMARKS.FAVOURITE, bookId: book.id })">
        <mat-icon>{{ inFavourites ? 'star' : 'star_border' }}</mat-icon>
      </button>
      <button *ngIf="book.paid"
              type="button"
              mat-icon-button
              [matTooltip]="inWishlist ? 'Remove from Wishlist' : 'Add to Wishlist'"
              color="accent"
              (click)="(inWishlist ? onRemoveBookmark : onAddBookmark).emit({ type: BOOKMARKS.WISHLIST, bookId: book.id })">
        <mat-icon>{{ inWishlist ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
      <button type="button"
              mat-icon-button
              [matTooltip]="inMustread ? 'Remove from must read' : 'Add to must read'"
              color="accent"
              (click)="(inMustread ? onRemoveBookmark : onAddBookmark).emit({ type: BOOKMARKS.MUSTREAD, bookId: book.id })">
        <mat-icon>{{ inMustread ? 'bookmark': 'bookmark_border' }}</mat-icon>
      </button>
      <a *ngIf="isAdmin"
         routerLink="/books/edit/{{ book.url }}"
         mat-icon-button
         matTooltip="Edit book"
         color="accent">
        <mat-icon>edit</mat-icon>
      </a>
      <button *ngIf="isAdmin"
              type="button"
              mat-icon-button
              matTooltip="Remove book"
              color="accent">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
    <div class="view-num">
      <i class="material-icons">
        visibility
      </i>
      <span>{{ book.views }}</span>
    </div>
  </div>
  <div class="details">
    <h3>{{ book.title }}</h3>
    <h4>by {{ book.author }}</h4>
    <div class="toolbar">{{ book.description || 'No Description' }}</div>
  </div>
</div>
