@import '~@bookapp-angular/scss/variables';

.book-view {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  height: 325px;

  img {
    display: block;
    margin-bottom: 10px;
  }

  .view-num {
    display: flex;
    align-items: center;
    color: $dark-primary-text;

    span {
      margin-left: 10px;
    }
  }
}

.details {
  flex: 1;
  margin-left: 15px;

  h3,
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
}

.mat-toolbar {
  font-size: 14px;
}
