<div class="auth-form">
  <mat-card>
    <form>
      <mat-card-header>
        <mat-card-title>Create account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput
                   placeholder="First Name">
            <mat-error>Hint</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput
                   placeholder="Last Name">
            <mat-error>Hint</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput
                   placeholder="Email">
            <mat-error>Hint</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput
                   placeholder="Password">
            <mat-error>Hint</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
                color="accent">Create</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
