@import '~/scss/variables';

.action-bar .action-bar-title {
  horizontal-align: center;
  color: $dark-primary-text;
}

.sidedrawer {
  background-color: $sidenav-background;
  color: $dark-primary-text;

  .sidedrawer-header {
    background-color: $sidenav-background;
  }

  .avatar {
    width: 60;
    height: 60;
    border-width: 2;
    border-color: white;
    border-radius: 50%;
  }

  .user {
    padding-bottom: 10;

    .name {
      font-size: 18;
    }

    .email {
      font-size: 16;
    }

    .mdi {
      font-size: 22;
    }
  }

  .divider {
    height: 5;
    background: #19202e;
    border-top-width: 1;
    border-top-color: rgba(0, 0, 0, 0.3);
    border-bottom-width: 1;
    border-bottom-color: rgba(0, 0, 0, 0.3);
  }
}

.sidedrawer-list-item {
  padding: 10 15;

  Label {
    font-size: 16;
    vertical-align: center;
  }

  .mdi {
    margin-right: 10;
  }

  &.selected {
    background-color: $light-blue;

    Label {
      color: white;
    }
  }
}
