:host {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75rem -1.5rem -0.75rem;

  ba-book-list-item {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 1.5rem;

    @media (min-width: 634px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (min-width: 970px) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
