@import '~/scss/variables';

.mat-header {
  text-align: center;
  margin-bottom: 20;
  padding: 16;
  background-color: $primary-color;

  Label {
    text-transform: uppercase;
    color: $dark-primary-text;
  }
}
