<GridLayout>
  <StackLayout class="mat-card m-20" [shadow]="2">
    <StackLayout class="mat-header">
      <Label [text]="isLoggingIn ? 'Login into account' : 'Create account'"></Label>
    </StackLayout>
    <StackLayout class="form">
      <TextField hint="First Name" class="input input-border m-b-20"></TextField>
      <TextField hint="Last Name" class="input input-border m-b-20"></TextField>
      <TextField hint="Email" class="input input-border m-b-20"></TextField>
      <TextField hint="Password" class="input input-border m-b-20"></TextField>
      <Button class="btn btn-primary btn-active" [text]="isLoggingIn ? 'Login' : 'Create'"></Button>
      <Label [text]="isLoggingIn ? 'Don\'t have an account?' : 'Already have an account?'"></Label>
      <Button class="btn btn-outline btn-active" [text]="isLoggingIn ? 'Create one' : 'Back to Login'"></Button>
    </StackLayout>
  </StackLayout>
</GridLayout>
