<div class="mat-toolbar-row">
  <mat-button-toggle-group>
    <mat-button-toggle value="">
      <span>All books</span>
    </mat-button-toggle>
    <mat-button-toggle value="added_at">
      <span>Most recent</span>
    </mat-button-toggle>
    <mat-button-toggle value="views">
      <span>Most popular</span>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field>
    <input autocomplete="off" matInput
           placeholder="Enter Keywords">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
