<ActionBar class="action-bar"
           flat="true">
  <NavigationButton ios:visibility="collapsed"
                    android.systemIcon="ic_menu_back"
                    (tap)="backTapped.emit()"></NavigationButton>
  <ActionItem android:visibility="collapsed"
              ios.systemIcon="1"
              ios.position="left"
              (tap)="backTapped.emit()"></ActionItem>
  <ActionItem ios.systemIcon="3"
              ios.position="right"
              android.position="actionBar"
              android.systemIcon="ic_menu_save"
              (tap)="submit()"></ActionItem>
  <Label class="action-bar-title"
         text="Change Password"></Label>
</ActionBar>
<StackLayout>
  <StackLayout class="m-10"
               [shadow]="2">
    <FlexboxLayout flexDirection="column"
                   height="100%">
      <StackLayout class="mat-card"
                   flexGrow="1">
        <ScrollView>
          <StackLayout>
            <RadDataForm id="passwordForm"
                         class="password-form"
                         [source]="password"
                         [metadata]="metadata">
            </RadDataForm>
          </StackLayout>
        </ScrollView>
      </StackLayout>
    </FlexboxLayout>
  </StackLayout>
</StackLayout>
