<div class="view-content">
  <mat-card>
    <mat-card-title>Add a Book</mat-card-title>
    <mat-card-content class="book-page">
      <div class="cover">
        <mat-card>
          <img [src]="'/assets/images/add-photo.svg'"
               alt="cover">
        </mat-card>
        <button mat-raised-button
                color="primary"
                (click)="showSelector()">Change Cover
        </button>
      </div>
      <div class="form">
        <ba-book-form></ba-book-form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
