<FlexboxLayout flexDirection="column"
               justifyContent="flex-start"
               class="page">
  <StackLayout class="m-20"
               [shadow]="2" height="50%">
    <StackLayout class="mat-card">
      <Label class="title"
             text="Welcome to Book App!"
             textWrap="true"></Label>
      <StackLayout class="hr-light"></StackLayout>
      <Label class="lead"
             text="Read, Search and Buy Books Online"
             textWrap="true"></Label>
    </StackLayout>
  </StackLayout>
</FlexboxLayout>
