@import 'scss/variables';

.page {
  height: 100%;
  background-color: $surface-backgroud;
}

.mat-card {
  padding: 30;
}

.title {
  font-size: 30;
  font-weight: 400;
  margin-bottom: 12;
}

.lead {
  margin-top: 15;
  font-size: 18;
  font-weight: 500;
}
