.avatar-selector {
  display: flex;
  flex-direction: column;

  .mat-card {
    margin-bottom: 1rem;
    display: flex;
    min-height: 154px;
    align-items: center;
    justify-content: center;
  }

  .mat-raised-button {
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    margin-right: 1.5rem;
    max-width: 180px;
  }
}
