<mat-card class="list-item">
  <div class="cover">
    <a routerLink="{{ book.paid ? '/books/buy/' : '/books/browse/' + book.url }}">
      <img [src]="book.coverUrl ? book.coverUrl : '/assets/images/nocover.svg'"
           alt="{{ book.title }}">
    </a>
  </div>
  <a class="title"
     routerLink="{{ book.paid ? '/books/buy/' : '/books/browse/' + book.url }}">
    {{ book.title }}
  </a>
  <span class="author">by {{ book.author }}</span>
  <div *ngIf="book.paid">{{ book.price | currency:'USD':true }}</div>
  <ba-rating [ngModel]="book.rating"
             (ngModelChange)="rate($event)"></ba-rating>
</mat-card>
