<ActionBar class="action-bar"
           flat="true">
  <Label class="action-bar-title"
         text="Book Details"></Label>
</ActionBar>
<GridLayout>
  <TabView [(ngModel)]="selectedIndex"
           androidTabsPosition="bottom"
           (selectedIndexChange)="onIndexChanged($event)">
    <ng-container *ngIf="(book$ | async) as book">
      <StackLayout *tabItem="{ title: 'Details', iconSource: 'res://details' }">
        <ba-book-view [book]="book"
                      [bookmarks]="bookmarks$ | async"
                      (onRate)="rate($event, book.slug)"
                      (onAddBookmark)="addToBookmarks($event)"
                      (onRemoveBookmark)="removeFromBookmarks($event)"></ba-book-view>
      </StackLayout>
      <StackLayout *tabItem="{ title: 'Comments', iconSource: 'res://comment' }">
        <ba-book-comments [comments]="book.comments"
                          [loading]="isLoading"
                          (onCommentAdded)="submitComment(book.id, $event, book.slug)"></ba-book-comments>
      </StackLayout>
    </ng-container>
  </TabView>
</GridLayout>
